<div class="container">
  <div class="header">
    <h1>Give 100, Get £100!</h1>
  </div>
  <div class="container">
    <div class="row steps">
      <div class="step col-xs-12 col-md-4">
        <div class="square-grey">
          <img src="" alt="image1">
          <div class="circle-blue">
           <strong>1</strong>
         </div>
       </div>

       <div class="step-text">
        <p>Recommend us to another school</p>
      </div>
    </div>
    <div class="step col-xs-12 col-md-4">
      <div class="square-grey">
        <img src="" alt="image1">

        <div class="circle-blue">
          2
        </div>
      </div>
      <div class="step-text">
        <p>The school signs up for next term</p>
      </div>
    </div>
    <div class="step col-xs-12 col-md-4">
      <div class="square-grey">
        <img src="" alt="image1">

        <div class="circle-blue">
          3
        </div>
      </div>
      <div class="step-text">
        <p>You both get £100</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="forward col-xs-12 col-sm-5">

      </div>
      <div class="refer col-xs-12 col-sm-5">

      </div>
    </div>
  </div>
  <div class="social col-xs-12 col-md-4 col-md-offset-4 list-inline center">
    <button class="btn-social btn-primary">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </button>
    <button class="btn-social btn-primary">
      FB
    </button>
    <button class="btn-social btn-primary">
      FB
    </button>
    <button class="btn-social btn-primary">
      FB
    </button>
  </div>
  </div>
</div>

