// Place all the styles related to the referral controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import  "variables.scss";

.square-grey {
  background-color: $grey;
  height: 250px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  // font-family: 'Rubik', sans-serif;
  img {
    height: 200px;
    width: 200px;
    margin: auto;
    padding-top: 40px;
  }
}

.circle-blue {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: $blue;
  text-align: center;
  color: white;
  margin: 30px 125px;
  padding-top: 10px;
  // font-family:'Rubik', sans-serif;
}

.steps {
  padding: 50px 50px 0 50px;
}

.step-text{
  font-size: 20px;
  text-align: center;
  padding: 40px;
  font-weight: 800;
}

.referrals {
  padding-bottom: 50px;
  margin: 0 auto;
  // font-family:'Rubik', sans-serif;
}

.header {
  height: 150px;
  h1 {
  text-align: center;
  color: $blue;
  font-size: 50px;
  font-weight: 900;
  }
  p {
    text-align: center;
    font-size: 24px;
    padding: 0 200px;
  }
}

.forward, .refer {
  height: 250px;
  width: 400px;
  margin: 0 10px;
  background-color: $blue;
  text-align: center;
  .email {
  padding: 8px;
  width: 300px;
  }
  h3 {
    color: white;
    padding: 40px;
  }
  #email {
    padding-bottom: 14px;
  }
  .btn-email {
    background-color: $orange;
    color: white;
    padding: 8px;
    margin-top: 5px;
    border-radius: 2px;
  }
}

.social {
  .btn-social {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: $blue;
  color: white;
  font-size: 20px;
  }
  .social-text {
  text-align: center;
  padding: 20px;
  // font-family: 'Rubik', sans-serif;
  }
}

.social-icons {
text-align: center;
}

.wrapper {
  background-color: #E3F0FD;
}

.page {
  background-color: white;
  margin: 0 30px 30px 30px;
  padding-bottom: 50px;
  z-index: 1001;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
}

.container {
  // margin-right: auto;
  // margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
}
